<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Enter name</label>
    <input id="name" th:field="*{name}" type="text"/>
    <div style="color:crimson" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >NAME_ERROR</div>
    <br/>
    <label for="age">Enter age</label>
    <input id="age" th:field="*{age}" type="text"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" >AGE_ERROR</div>
    <br/>
    <label for="email">Enter name</label>
    <input id="email" th:field="*{email}" type="text"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >EMAIL_ERROR</div>
    <br/>
    <input type="submit" value="create"/>
</form>
</body>
</html>